.button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    background: #3b82f6;
    color: white;
    transition: 0.2s ease;
}

.button:hover {
    background: #2563eb;
    transform: translateY(-1px);
}

.button:active {
    transform: translateY(0);
}
.red-button {
    background: #ef4444;
}

.red-button:hover {
    background: #dc2626;
}