body{
    background: #f3f4f6;
}

.register-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card{
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}