.topbar {
    height: 70px;
    background: #141414;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    display: flex;
    align-items: center;

    padding: 20px 30px;
    padding-left: 65px;
}

.topbar h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #f5f5f5;
}