.topbar {
    height: 70px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    align-items: center;

    padding: 20px 30px;
    padding-left: 65px;
}

.topbar h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #1f2937;
}