.topbar {
    height: 70px;
    background: var(--bg-panel);
    border-bottom: 1px solid var(--border-subtle);

    display: flex;
    align-items: center;

    padding: 20px 30px;
    padding-left: 65px;
}

.topbar h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary);
}